<%= form_with url: articles_path, method: :get, local: true, class: "mb-4" do %>
  <%= text_field_tag :q, params[:q], placeholder: "キーワードで検索", class: "input" %>
  <%= submit_tag "検索" %>
  <% if params[:q].present? %>
    <%= link_to "クリア", articles_path, class: "ml-2" %>
  <% end %>
<% end %>

<% if params[:q].present? %>
  <p><strong>検索キーワード:</strong> <%= h params[:q] %></p>
<% end %>


<hr>

<div class="articles-layout">
  <div class="articles-list">
    <h2>記事一覧</h2>

      <ul>
        <% @articles.each do |article| %>
          <li>
            <%= link_to article.title, article_path(article) %>
            <small> - <%= l(article.created_at, format: :short) %></small>
            <p><%= truncate(article.body, length: 120) %></p>
            
            <% if article.latest_comment %>
              <p>最初のコメント: <%= article.latest_comment.content %></p>
            <% else %>
              <p>コメントはまだありません</p>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>

  <div class="articles-form">
    <!-- 記事作成フォームを上部に埋め込む -->
    <h2>新しい記事を作成</h2>
    <%= render 'form', article: @article %>
  </div>
</div>